[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/Coder"]
	path = content/themes/Coder
	url = https://github.com/dongri/Coder
